body {
  background-color: #fff;
  font-family: helvetica;
}
h1 {
  font-size: 48px;
  text-align: center;
}
a {
  color: #33f;
  text-decoration: none;
}
a:visited {
  color: #33f;
}
a:hover {
  color: #0000f5;
  text-decoration: underline;
}
ul {
  list-style-type: square;
  padding: 1em;
  padding-top: 0;
}
header {
  border-radius: 15px;
  background-color: #c0c0c0;
  box-shadow: 15px 15px 8px #9a9a9a;
}
#sectioncontainer section {
  border-radius: 15px;
  background-color: #c0c0c0;
}
@media (max-height: 500px) {
  header {
    box-shadow: none;
  }
}

