body {
  background-color: #fff;
  font-family: helvetica;
}
a {
  color: #33f;
  text-decoration: none;
}
a:visited {
  color: #33f;
}
a:hover {
  color: #0000f5;
  text-decoration: underline;
}
ul {
  list-style-type: square;
  padding: 1em;
  padding-top: 0;
}

