!!! 5
html(lang='da')
  head
    title Responsivt design demo
    meta(name='viewport', content='width=device-width, initial-scale=0')
    link(rel='stylesheet', href='../stylus/layout.css')
    link(rel='stylesheet', href='../stylus/style.css')
    link(rel='stylesheet', href='../bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='../bootstrap/css/bootstrap-responsive.min.css')
  body
    .container
      header.hero-unit
        h1 Responsivt design demo
      .row#sectioncontainer
        section.span4
          :markdown
            Responsivt design
            -----------------
            Responsivt design er at lade et website eller en webapp tilpasses sit indhold efter hvilken skærm den vises på.

            ### Eksempler ###

            * [Attention8](http://www.attention8.dk)
            * [Responsive web design demo](http://www.responsivewebdesign.co.uk/)
            * [A list apart](http://www.alistapart.com/d/responsive-web-design/ex/ex-site-FINAL.html#)

        section.span4
          :markdown
            Twitter Bootstrap
            -----------------
            [Twitter bootstrap](http://twitter.github.com/bootstrap/) er et css framework der kan bruges til at sætte webapps op, det giver adgang til en række layout værktøjer, design værktøjer og andre små hjælpemidler, derudover giver det let adgang til responsivt design.
            
        section.span4.hidden-phone
          :markdown
            Dokumentation
            -------------
            Metoderne til responsivt design bygger på standarder defineret i den kommende CSS3 specifikation under navnet Media Queries.

            * [W3C](http://www.w3.org/TR/css3-mediaqueries/#device-width)
            * [Mozilla Developer Network](https://developer.mozilla.org/en-US/docs/CSS/Media_queries)
            * [Media queries](http://caniuse.com/#search=media%20queries) på [Can I use..](http://caniuse.com)
